{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/timeline.css')}}">

<ul class="timeline">
	{% for repo in repos %}
	<li>
		{% if loop.index % 2 == 0 %}
		<div class="direction-r">
		{% else %}
		<div class="direction-l">
		{% endif %}
			<div class="flag-wrapper">
				<a href="{{ repo['url'] }}" class="flag">{{ repo['title'] }}</a>
				<span class="time-wrapper"><span class="time">{{ repo['created'] }}</span></span>
			</div>
			<div class="desc">{{ repo['desc'] }}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}