{% extends 'base.html' %}
{% block content %}
<h1>Hello, {{name}}!</h1>
<p>This is an API for a business database.</p>

<h3>Employees</h3>
<p>To get all employees, send a GET request to {{url}}employees/all</p>
<p>To get an employee, send a GET request to {{url}}employees/&lt;id&gt;</p>
<p>To add an employee, send a POST request to {{url}}employees along with a JSON containing the name, city and country</p>
<p>To update an employee, send a PUT request to {{url}}employees/&lt;id&gt; along with a JSON containing the name, city and country</p>
<p>To delete an employee, send a DELETE request to {{url}}employees/&lt;id&gt;</p>  

<h3>API Key</h3>
<p>All of the above requests require an API Key as a URL parameter (?key=YOUR_KEY_HER)</p>
<p>If you would line an API key, fill in the form below</p>

<form action="/api_key" method="POST">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input name="email" type="email" class="form-control" id="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}